html {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #6865f9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  background: white;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn-success {
  background-color: #00d1b2;
  color: white !important;
  margin-top: 10px;
}
header {
  padding-top: 40px;
  max-height: 70px;
  color: #fff;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
li {
  display: inline;
  padding: 0 10px;
}
header #brand {
  float: left;
  margin: 0;
  padding: 0;
  font-size: calc(120% + 1vw);
  line-height: 44px;
  font-weight: bold;
  text-decoration: none;
}
header nav {
  float: right;
  margin: 0px;
  font-size: 18px;
}
header .nav-link {
  font-size: 19px;
  line-height: 44px;
}
nav ul {
  display: block;
  z-index: 500;
}
.menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: url('../img/menu-icon.svg');
}
.hero {
  background: #6865f9;
  background-size: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
}
.hero h1 {
  font-size: 42px;
  line-height: 1.5;
  font-weight: 600 !important;
  color: #ffffff;
}
.hero p {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.8;
  font-weight: 400
}
#feature {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
}
.box {
  width: 30%;
  padding: 20px;
  text-align: center;
}
.box > .title {
  color: #6865f9;
}
.box > img {
  fill: #6865f9;
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 39px;
  font-weight: normal;
}
.main {
  margin-top: 50px;
}
.centered {
  text-align: center;
}
.box p {
  color: #8f8f8f;
  font-size: 19px;
  line-height: 1.8;
  font-weight: normal;
}
.footer {
  background: #6865f9;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.close-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/close-icon.svg');
  background-repeat: no-repeat;
}
.form-group {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
  .form-group {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.form-group form {
  display: block;
  width: 100%;
  padding: 2em 1.2em;
}
.form-group h2 {
  color: #ffffff;
  font-size: 1.35em;
  display: block;
  background: #6865f9;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  margin: 0;
  font-weight: 200;
}
.form-group input, .form-group textarea {
  display: block;
  margin: auto auto;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
  width: 75%;
}
.form-group input:focus {
  outline: none;
}
.form-group .btn {
  display: inline-block;
  background: #00d1b2;
  border: none;
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.form-group .btn:hover {
  background: #23cad5;
}
.form-group .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.form-group .btn:focus {
  outline: none;
}
.form-group .alternate {
  color: #00d1b2;
  line-height: .5em;
  position: relative;
  text-decoration: none;
  font-size: .75em;
  margin: 0;
  padding: 0;
}
.form-group .forgot:hover {
  color: #1ba0a9;
}
.btn-loading::after {
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  border-color: transparent transparent #fff #fff !important;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.stories {
  padding: 40px 0px 40px 12%;
}
.story-div {
  background: #ffffff; 
  height:300px;
}
.story {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  float: left;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}
.story * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.story img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.story figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.story .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.story .date span {
  display: block;
  line-height: 14px;
}
.story .date .month {
  font-size: 11px;
}
.story h3,
.story p {
  margin: 0;
  padding: 0;
}
.story h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}
.story .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fefefe;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 25px;
  justify-content: center;
  opacity: 0;
}
.story a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.story:hover .hover,
.story.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.story:hover figcaption,
.story.hover figcaption {
  opacity: 0;
}
.story:hover .date,
.story.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.profile * {
  box-sizing: border-box;
}
.profile {
  width: 320px;
  margin: 3em auto 0 auto;
  border-radius: 8px;
  padding-bottom: 0;
  background-color: #ffffff;
}
.profile-header {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.profile-bg {
  border-bottom: 8px solid #6865f9;
}
.profile-bio:hover > .profile-desc {
  cursor: pointer;
  opacity: 1;
}
.profile-data {
  margin-top: .6em;
  color: #81878b;
}
.profile-data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  border-right: solid 1px #bdc3c7;
}
.profile-data li:last-child {
  border: none;
}
.profile-data li span {
  display: block;
  text-transform: uppercase;
  font-size: .5em;
  margin-top: .6em;
  font-weight:700;
}

.profile-desc {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  padding: 1.2em 1em 0 1em;
  color: white;
  text-align: center;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.profile-desc h3 {
  font-size: 1.2em;
  margin-bottom: .5em; 
}
.profile-desc p {
  font-size: .9em;
  line-height: 1.5em;
}
.reminder {
  margin: 1.5em auto 0 auto;
  width: 100%;
  background: #6865f9;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
}
.switch input {
  position: absolute;
  opacity: 0;
}
.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}
.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}
.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background: #6865f9;
}
.full-story {
  margin-top: 50px;
  background: #ffffff;
  width: 75%;
}
@media only screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .menu-icon {
    display: inline-block;
  }
  nav ul,
  nav:active ul {
    display: none;
    position: fixed;
    padding: 50px 20px 20px;
    background: #ef8354;
    right: 0px;
    top: 0px;
    width: 50%;
    max-width: 300px;
    height: 100vh;
    overflow: scroll;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding-top: 18px;
    display: block;
  }
  nav a {
    color: #fff;
    font-size: 30px;
    font-weight: 600px;
    padding: 5px;
  }
  .close-menu {
    display: block;
  }
  .hero h1 {
    font-size: 40px;
    margin: 2.8em 0 0 0;
  }
  .hero p {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  #feature {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  #feature .box {
    width: 80%;
  }
  .footer {
    min-height: 10vh;
  }
  .stories {
    padding: 40px 0px 40px 5%;
  }
  .title.main {
    margin-top: 50px;
  }
}
.full-story{
	margin-left:auto;
	margin-right:auto;
	padding: 50px 0;
}
.full-story-date{
	color:#666;
	font-size:16px;
	margin-left: 5px;
	padding-left: 50px
}
.full-story-title{
	color:#333;
	font-weight: bold;
	font-size:35px;
	margin-top: 5px;
	padding-left: 50px
}
#full-story-content{
	font-szie:25px;
	line-height: 1.8em;
	padding: 0 50px
}
.centered-2{
	width:100%;
	height:60px;
	//padding:0 50px;
	margin-top: 40px;
}
.btn2 {
  background-color: #00d1b2;
  width:100px;
	height:40px;
	border-radius: 4px;
	border:none;
	cursor:pointer;
	
}
.form-sub{
	margin-right: 10px;
	float: right;
  	color: white;
}
.form-delete{
	float: right;
	margin-right: 50px;
	background-color: transparent;
	color:#3bbfaf !important;
}
.form-Not{
	background-color: firebrick;
	color:#fff;
}
.icon{
	float:left;
	width:5%;
	margin-left: 40px;
	height:40px;
}
svg{
	width:25px;
	margin-left: 10px;
	color:#444;
	transition: .2s ease-in;
}
.scale{
    animation: scale_in .3s linear 1;
}
@keyframes scale_in{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}
.modal_content{
    top:0;
    left:0;
    overflow: auto;
    display:none;
    width:100%;
    height: 100%;
    position:fixed;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7));
    z-index: 1;
}
.content{
	width:38%;
	text-align: center;
	margin:200px auto;
	background-color: #fff;
	height:200px;
	padding: 0 15px;
	box-shadow: 2px -1px 3px 2px rgba(255,255,255,0.5);
}
.sure{
	padding-top: 80px;
}
@media only screen and (max-width: 768px) {
   .full-story{
    width: 100%;
	}
	.btn2{
		height:30px;
		width:80px;
	}
	svg{
		margin-top: 3px;
	}
	.content{
		width:80%;
	}
 }