html {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #6865f9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  background: white;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn-success {
  background-color: #00d1b2;
  color: white !important;
  margin-top: 10px;
}
header {
  padding-top: 40px;
  max-height: 70px;
  color: #fff;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
li {
  display: inline;
  padding: 0 10px;
}
header #brand {
  float: left;
  margin: 0;
  padding: 0;
  font-size: calc(120% + 1vw);
  line-height: 44px;
  font-weight: bold;
  text-decoration: none;
}
header nav {
  float: right;
  margin: 0px;
  font-size: 18px;
}
header .nav-link {
  font-size: 19px;
  line-height: 44px;
}
nav ul {
  display: block;
}
.menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: url('../img/menu-icon.svg');
}
.hero {
  background: #6865f9;
  background-size: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
}
.hero h1 {
  font-size: 42px;
  line-height: 1.5;
  font-weight: 600 !important;
  color: #ffffff;
}
.hero p {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.8;
  font-weight: 400
}
#feature {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
}
.box {
  width: 30%;
  padding: 20px;
  text-align: center;
}
.box > .title {
  color: #6865f9;
}
.box > img {
  fill: #6865f9;
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 39px;
  font-weight: normal;
}
.box p {
  color: #8f8f8f;
  font-size: 19px;
  line-height: 1.8;
  font-weight: normal;
}
.footer {
  background: #6865f9;
  text-align: center;
  color: #ffffff;
}
.close-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/close-icon.svg');
  background-repeat: no-repeat;
}
.form-group {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
  .form-group {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.form-group form {
  display: block;
  width: 100%;
  padding: 2em 1.2em;
}
.form-group h2 {
  color: #ffffff;
  font-size: 1.35em;
  display: block;
  background: #6865f9;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  margin: 0;
  font-weight: 200;
}
.form-group input {
  display: block;
  margin: auto auto;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
  width: 75%;
}
.form-group input:focus {
  outline: none;
}
.form-group .btn {
  display: inline-block;
  background: #00d1b2;
  border: none;
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.form-group .btn:hover {
  background: #23cad5;
}
.form-group .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.form-group .btn:focus {
  outline: none;
}
.form-group .alternate {
  color: #00d1b2;
  line-height: .5em;
  position: relative;
  text-decoration: none;
  font-size: .75em;
  margin: 0;
  padding: 0;
}
.form-group .forgot:hover {
  color: #1ba0a9;
}
.btn-loading::after {
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  border-color: transparent transparent #fff #fff !important;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


@media only screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .menu-icon {
    display: inline-block;
  }
  nav ul,
  nav:active ul {
    display: none;
    position: fixed;
    padding: 50px 20px 20px;
    background: #ef8354;
    right: 0px;
    top: 0px;
    width: 50%;
    max-width: 300px;
    height: 100vh;
    overflow: scroll;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding-top: 18px;
    display: block;
  }
  nav a {
    color: #fff;
    font-size: 30px;
    font-weight: 600px;
    padding: 5px;
  }
  .close-menu {
    display: block;
  }
  .hero h1 {
    font-size: 40px;
    margin: 2.8em 0 0 0;
  }
  .hero p {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  #feature {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  #feature .box {
    width: 80%;
  }
  .footer {
    min-height: 10vh;
  }
}